AppIcon         ICON		"pro2.ico"
AppIconSm       ICON		"pro2sm.ico"
ErroR           BITMAP		"Images\\error.bmp"
AbouT           BITMAP		"Images\\about.bmp"
WarN            BITMAP		"Images\\warning.bmp"
EgG             BITMAP		"Images\\eegg.bmp"
Lng             BITMAP		"Images\\lng.bmp"
LngUn           BITMAP		"Images\\lngun.bmp"
LngM            BITMAP		"Images\\lngM.bmp"
ShoW            BITMAP		"Images\\show.bmp"
HidE            BITMAP		"Images\\hide.bmp"
ClosE           BITMAP		"Images\\close.bmp"
TraY            BITMAP		"Images\\tray.bmp"
HelP            BITMAP		"Images\\help.bmp"
EgGy            BITMAP		"Images\\egg.bmp"
